ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = $(inherited)
CODE_SIGN_STYLE = Manual
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEVELOPMENT_TEAM = 
INFOPLIST_FILE = Camera/Info.plist
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
SWIFT_OBJC_BRIDGING_HEADER = Camera/Camera-Bridging-Header.h
TARGETED_DEVICE_FAMILY = 1,2
